* {
	text-align: center;
	font-family: Arial;
	color: #333;
}

h1 {
	margin: 20px;
}

button, input[type=number] {
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	background-color: #ccc;
	color: #333;
	border: 3px solid #333;
}

button {
	cursor: pointer;
}

.winner {
    color : green ;
}

body {
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}